<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speech Recognition in Python</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link ref="stylesheets" href="{{}}"
</head>
<body>
    <div id="speechContainer">
        <h1>Upload File</h1>
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="file">
            <br>
            <input type="submit" value="Gum GUM MAYA" />
        </form>
    </div>
    <div id="tt">
        {{text}}
    </div>
    
</body>
</html>