<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speech Recognition in Python</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/index.css')}}" />
</head>
<body>
    <div id="speechContainer">
        <h1>Upload new File</h1>
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="file" />
            <br>
            <input type="submit" id='submitButton' value="Transcribe" />
        </form>
        
        {% if tutu != ''%}
        <div id='speechTransContainer'>
            <h1>Transcript</h1>
            <p id='speechText'>{{tutu}}</p>
        </div>
        {% endif %}
    </div>
    
</body>
</html>